<div class="mobile-right-side">
    <ul class="header-action-link action-color--black action-hover-color--golden">
        <li>
            <a href="#search">
                <i class="icon-magnifier"></i>
            </a>
        </li>
        <li>
            <a href="./account.html" class="offcanvas-toggle">
                <i class="icon-user"></i>

            </a>
        </li>
        <li>
            <a href="#offcanvas-add-cart" class="offcanvas-toggle">
                <i class="icon-bag"></i>
                <span class="item-count count-cart-qty">0</span>
            </a>
        </li>
        <li>
            <a href="#mobile-menu-offcanvas" class="offcanvas-toggle offside-menu">
                <i class="icon-menu"></i>
            </a>
        </li>
    </ul>
</div>