<div class="main-menu menu-color--black menu-hover-color--golden">
    <nav>
        <ul>
            <li class="has-dropdown">
                <a class="active main-menu-link" href="/">Trang chủ</a>
            </li>
            <li class="has-dropdown has-megaitem">
                <a href="/shop">Shop</a>
            </li>
            <li>
                <a href="/about">Về chúng tôi</a>
            </li>
            <li>
                <a href="/contact">Thông tin liên hệ</a>
            </li>
        </ul>
    </nav>
</div>